.contact {
  position: relative;
  background-color: #222222;
  color: #339af0;
  height: 30vh;

  h2 {
    position: absolute;
    font-size: 30px;
    letter-spacing: 2px;
    top: 10%;
    left: 10%;
  }

  div {
    position: absolute;
    font-size: 20px;
    letter-spacing: 1px;
    top: 50%;
    left: 10%;
    & > p {
      margin-bottom: 10px;
    }

    i {
      margin-right: 10px;
    }
  }
}
